<form >
    <div class="mb-3">
        <label for="FoodTruckTypeId" class="form-label">Food Truck Type </label>
        <select class="form-control" name="FoodTruckTypeId" id="FoodTruckTypeId" [(ngModel)]="FoodTruckTypeId">
            <option *ngFor="let type of FoodTruckTypeList$|async"[value]="type.id">{{type.foodTruckName}}</option>
        </select>   
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Status </label>
        <select class="form-control" name="status" id="status" [(ngModel)]="status">
            <option *ngFor="let status of statusList$|async"[value]="status.statusOption">{{status.statusOption}}</option>
        </select>   
    </div>
    <div class="mb-3">
        <label for="latitude" class="form-label">Latitude </label>
        <input type="number"   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
        class="form-control" [(ngModel)]="latitude" name="latitude"> 
    </div>
    <div class="mb-3">
        <label for="longitude" class="form-label">Longitude </label>
        <input type="number"   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
        class="form-control" [(ngModel)]="longitude" name="longitude"> 
    </div>
    <button (click)="addFoodTruck()" *ngif="foodtruck.id == 0" class="btn btn-primary" >
        Add
    </button>
    <button (click)="editFoodTruck()" *ngif="foodtruck.id != 0" class="btn btn-primary" >
        Edit
    </button>
</form>
